@using KhumaloCrafts.ViewModels
@model CraftDisplayModel

<div class="my-2">
    <form asp-action="MyWork" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="categoryId">Categories</label>
            <select class="form-select" id="categoryId" name="categoryId">
                <option selected>Category...</option>
                @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.Id == Model.CategoryId)" value="@category.Id">@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by name</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by name">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/MyWork" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var craft in Model.Crafts)
    {
        <div class="card mx-3 mb-4" style="width: 11rem;">
            @if (string.IsNullOrEmpty(craft.Image))
            {
            }
            else
            {
                <img style="width:100%;height:300px" src="/Images/@craft.Image" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title">@craft.CraftName</h5>
                <p class="card-text">
                    <b>Category: </b> @craft.CategoryName <br />
                    <b>Description:</b> @craft.Description <br />
                    <b>Price R:</b> @craft.ProductPrice
                </p>
                @if (craft.Availability > 0)
                {
                    <button type="button" onclick="addToCart(@craft.Id)" class="btn btn-primary">Add to cart</button>
                }
                else
                {
                    <span style="border: 1px solid;padding: 5px 8px;color: red;border-radius: 5px;">Out of stock</span>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        async function addToCart(craftId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?craftId=${craftId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            } catch (err) {
                console.log(err);
            }
        }
    </script>
}
